.animationtext {
  animation: text .6s ease normal;
}
@keyframes text {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: "100%";
  }
}
